@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.task {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-title {
    flex: 1;
    font-weight: bold;
}

.task-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.task-button:hover {
    background-color: #2980b9;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}